<div class="row mb-4" id="<%= dom_id question %>">
    <div class="col-6 col-md-6 themed-grid-col p-5 text-white bg-dark border rounded-pill">
        <p>
            <strong>Question:</strong>
            <%= question.question %>
        </p>
        <p>
            <strong>Question vn:</strong>
            <%= question.question_vn %>
        </p>
    </div>
    <div class="col-6 col-md-6 themed-grid-col p-5 text-white bg-dark border rounded-pill">
        <p>
            <strong>Answer:</strong>
            <%= question.answer %>
        </p>
        <p>
            <strong>Answer vn:</strong>
            <%= question.answer_vn %>
        </p>
    </div>
</div>