<div class="row mb-1">
    <div class="col-md-6 themed-grid-col" id="<%= dom_id question %>">
        <p>
            <strong>Question:</strong>
            <%= question.question %>
        </p>
        <p>
            <strong>Question vn:</strong>
            <%= question.question_vn %>
        </p>
        <audio src="<%= audio_tag 'question_1.mp3' %>" type="audio/mpeg" controls>
            Your browser does not support the audio element.
        </audio>
    </div>
    <div class="col-md-6 themed-grid-col">
        <p>
            <strong>Answer:</strong>
            <%= question.answer %>
        </p>
        <p>
            <strong>Answer vn:</strong>
            <%= question.answer_vn %>
        </p>
    </div>
</div>