<div id="<%= dom_id question %>">
  <p>
    <strong>Question number:</strong>
    <%= question.question_number %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= question.question %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= question.answer %>
  </p>

  <p>
    <strong>Question vn:</strong>
    <%= question.question_vn %>
  </p>

  <p>
    <strong>Answer vn:</strong>
    <%= question.answer_vn %>
  </p>

</div>
