<%= form_with(model: question_audio) do |form| %>
  <% if question_audio.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question_audio.errors.count, "error") %> prohibited this question_audio from being saved:</h2>

      <ul>
        <% question_audio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :id, style: "display: block" %>
    <%= form.number_field :id %>
  </div>

  <div>
    <%= form.label :question_id, style: "display: block" %>
    <%= form.number_field :question_id %>
  </div>

  <div>
    <%= form.label :question_audio, style: "display: block" %>
    <%= form.text_field :question_audio %>
  </div>

  <div>
    <%= form.label :answer_audio, style: "display: block" %>
    <%= form.text_field :answer_audio %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
