<div id="<%= dom_id question_audio %>">
  <p>
    <strong>Id:</strong>
    <%= question_audio.id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= question_audio.question_id %>
  </p>

  <p>
    <strong>Question audio:</strong>
    <%= question_audio.question_audio %>
  </p>

  <p>
    <strong>Answer audio:</strong>
    <%= question_audio.answer_audio %>
  </p>

</div>
